In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('DataAnalyst.csv', delimiter=',',header=None,encoding="gb2312")  # encoding = 'gb2312' 读取中文

In [9]:
data

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>city</td>
      <td>companyFullName</td>
      <td>companyId</td>
      <td>companyLabelList</td>
      <td>companyShortName</td>
      <td>companySize</td>
      <td>businessZones</td>
      <td>firstType</td>
      <td>secondType</td>
      <td>education</td>
      <td>industryField</td>
      <td>positionId</td>
      <td>positionAdvantage</td>
      <td>positionName</td>
      <td>positionLables</td>
      <td>salary</td>
      <td>workYear</td>
    </tr>
    <tr>
      <th>1</th>
      <td>上海</td>
      <td>纽海信息技术(上海)有限公司</td>
      <td>8581</td>
      <td>['技能培训', '节日礼物', '带薪年假', '岗位晋升']</td>
      <td>1号店</td>
      <td>2000人以上</td>
      <td>['张江']</td>
      <td>技术</td>
      <td>数据开发</td>
      <td>硕士</td>
      <td>移动互联网</td>
      <td>2537336</td>
      <td>知名平台</td>
      <td>数据分析师</td>
      <td>['分析师', '数据分析', '数据挖掘', '数据']</td>
      <td>7k-9k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>2</th>
      <td>上海</td>
      <td>上海点荣金融信息服务有限责任公司</td>
      <td>23177</td>
      <td>['节日礼物', '带薪年假', '岗位晋升', '扁平管理']</td>
      <td>点融网</td>
      <td>500-2000人</td>
      <td>['五里桥', '打浦桥', '制造局路']</td>
      <td>技术</td>
      <td>数据开发</td>
      <td>本科</td>
      <td>金融</td>
      <td>2427485</td>
      <td>挑战机会,团队好,与大牛合作,工作环境好</td>
      <td>数据分析师-CR2017-SH2909</td>
      <td>['分析师', '数据分析', '数据挖掘', '数据']</td>
      <td>10k-15k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>3</th>
      <td>上海</td>
      <td>上海晶樵网络信息技术有限公司</td>
      <td>57561</td>
      <td>['技能培训', '绩效奖金', '岗位晋升', '管理规范']</td>
      <td>SPD</td>
      <td>50-150人</td>
      <td>['打浦桥']</td>
      <td>设计</td>
      <td>数据分析</td>
      <td>本科</td>
      <td>移动互联网</td>
      <td>2511252</td>
      <td>时间自由,领导nic</td>
      <td>数据分析师</td>
      <td>['分析师', '数据分析', '数据']</td>
      <td>4k-6k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>4</th>
      <td>上海</td>
      <td>杭州数云信息技术有限公司上海分公司</td>
      <td>7502</td>
      <td>['绩效奖金', '股票期权', '五险一金', '通讯津贴']</td>
      <td>数云</td>
      <td>150-500人</td>
      <td>['龙华', '上海体育场', '万体馆']</td>
      <td>市场与销售</td>
      <td>数据分析</td>
      <td>本科</td>
      <td>企业服务,数据服务</td>
      <td>2427530</td>
      <td>五险一金 绩效奖金 带薪年假 节日福利</td>
      <td>大数据业务分析师【数云校招】</td>
      <td>['商业', '分析师', '大数据', '数据']</td>
      <td>6k-8k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>5</th>
      <td>上海</td>
      <td>上海银基富力信息技术有限公司</td>
      <td>130876</td>
      <td>['年底双薪', '通讯津贴', '定期体检', '绩效奖金']</td>
      <td>银基富力</td>
      <td>15-50人</td>
      <td>['上海影城', '新华路', '虹桥']</td>
      <td>技术</td>
      <td>软件开发</td>
      <td>本科</td>
      <td>其他</td>
      <td>2245819</td>
      <td>在大牛下指导</td>
      <td>BI开发/数据分析师</td>
      <td>['分析师', '数据分析', '数据', 'BI']</td>
      <td>2k-3k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>6</th>
      <td>上海</td>
      <td>上海青之桐投资管理有限公司</td>
      <td>28095</td>
      <td>['美女多', '出国旅游', '不打卡', '带薪年假']</td>
      <td>青桐资本</td>
      <td>50-150人</td>
      <td>NaN</td>
      <td>金融类</td>
      <td>天使投资/VC/PE</td>
      <td>本科</td>
      <td>金融</td>
      <td>2580543</td>
      <td>留用机会,精品投行,优秀团队,氛围轻松</td>
      <td>助理分析师</td>
      <td>['实习', '投资', 'FA', '行业研究', '分析师']</td>
      <td>10k-15k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>7</th>
      <td>上海</td>
      <td>上海好体信息科技有限公司</td>
      <td>2002</td>
      <td>['年底双薪', '股票期权', '扁平管理', '领导好']</td>
      <td>足球魔方</td>
      <td>150-500人</td>
      <td>['龙华', '植物园', '上海南站']</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>本科</td>
      <td>移动互联网,电子商务</td>
      <td>1449715</td>
      <td>薪资福利待遇好，晋升空间大</td>
      <td>数据工程师</td>
      <td>['数据']</td>
      <td>7k-14k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>8</th>
      <td>上海</td>
      <td>上海安硕信息技术股份有限公司</td>
      <td>21863</td>
      <td>['岗位晋升', '顶尖团队', '福利优厚', '股票期权']</td>
      <td>安硕信息（amarsoft）</td>
      <td>2000人以上</td>
      <td>['黄兴公园', '长白新村', '延吉']</td>
      <td>产品/需求/项目类</td>
      <td>产品设计/需求分析</td>
      <td>硕士</td>
      <td>金融</td>
      <td>2568628</td>
      <td>健康体检</td>
      <td>数据咨询顾问(2017年毕业)</td>
      <td>['需求分析', '顾问', '咨询', '咨询顾问', '数据']</td>
      <td>5k-7k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>9</th>
      <td>上海</td>
      <td>上海崇杏健康管理咨询有限公司</td>
      <td>121208</td>
      <td>['扁平管理', '弹性工作', '岗位晋升', '领导好']</td>
      <td>上海崇杏</td>
      <td>15-50人</td>
      <td>['上海电视台', '南京西路', '人民广场']</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>本科</td>
      <td>移动互联网,医疗健康</td>
      <td>2416852</td>
      <td>扁平管理,上升空间大,领导好,弹性工作</td>
      <td>数据处理工程师（实习生）</td>
      <td>['后端开发', '数据']</td>
      <td>4k-8k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>10</th>
      <td>上海</td>
      <td>五五海淘（上海）科技股份有限公司</td>
      <td>58109</td>
      <td>['股票期权', '带薪年假', '绩效奖金', '岗位晋升']</td>
      <td>55海淘</td>
      <td>150-500人</td>
      <td>['漕宝路', '万源城', '东兰路']</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>本科</td>
      <td>电子商务</td>
      <td>1605795</td>
      <td>向大牛学习，有留司机会</td>
      <td>数据处理实习生</td>
      <td>['数据']</td>
      <td>2k-4k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>11</th>
      <td>上海</td>
      <td>莉莉丝科技（上海）有限公司</td>
      <td>1938</td>
      <td>['都是萌妹子', '项目奖金', '零食无限量', '国内外旅游']</td>
      <td>莉莉丝游戏</td>
      <td>150-500人</td>
      <td>['万源城', '漕宝路', '东兰路']</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>本科</td>
      <td>移动互联网,游戏</td>
      <td>2157863</td>
      <td>带薪年假 节日福利 出国机会 萌妹纸多</td>
      <td>大数据平台开发实习生</td>
      <td>['平台', '大数据', '数据']</td>
      <td>5k-6k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>12</th>
      <td>上海</td>
      <td>我厨（上海）科技有限公司</td>
      <td>51223</td>
      <td>['节日礼物', '技能培训', '带薪年假', '岗位晋升']</td>
      <td>我厨（上海）科技有限公司</td>
      <td>150-500人</td>
      <td>NaN</td>
      <td>设计</td>
      <td>用户研究</td>
      <td>本科</td>
      <td>电子商务,O2O</td>
      <td>2548985</td>
      <td>可转正,成长空间大</td>
      <td>数据分析专员（实习生）</td>
      <td>['数据分析', '数据']</td>
      <td>2k-4k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>13</th>
      <td>上海</td>
      <td>上海阑途信息技术有限公司</td>
      <td>36009</td>
      <td>['技能培训', '节日礼物', '免费班车', '绩效奖金']</td>
      <td>途虎养车网</td>
      <td>500-2000人</td>
      <td>['梅陇', '南方商城', '古美']</td>
      <td>技术</td>
      <td>软件开发</td>
      <td>本科</td>
      <td>移动互联网</td>
      <td>2392425</td>
      <td>有爱的同事,欢快的氛围</td>
      <td>BI数据分析实习生（2017年毕业）</td>
      <td>['数据分析', '数据', 'BI']</td>
      <td>2k-3k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>14</th>
      <td>上海</td>
      <td>上海麦子资产管理有限公司</td>
      <td>63922</td>
      <td>['工资自己定', '期权任性发', '金融狂人聚集', '半年晋升']</td>
      <td>麦子金服</td>
      <td>500-2000人</td>
      <td>['肇嘉浜路', '徐家汇', '交通大学']</td>
      <td>市场与销售</td>
      <td>市场/营销</td>
      <td>本科</td>
      <td>移动互联网,金融</td>
      <td>1243515</td>
      <td>工资自己定，期权任性发，半年晋升</td>
      <td>数据专员</td>
      <td>['数据']</td>
      <td>4k-6k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>15</th>
      <td>上海</td>
      <td>上海如旺电子商务有限公司</td>
      <td>48294</td>
      <td>['年底双薪', '节日礼物', '技能培训', '免费班车']</td>
      <td>旺旺集团火热招聘</td>
      <td>50-150人</td>
      <td>['虹桥', '古北', '虹梅路']</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>硕士</td>
      <td>电子商务,社交网络</td>
      <td>2392372</td>
      <td>旺旺集团旗下电商，扁平管理，人性化环境</td>
      <td>数据工程师(大数据方向实习生)</td>
      <td>['大数据', '数据']</td>
      <td>4k-8k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>16</th>
      <td>上海</td>
      <td>上海点荣金融信息服务有限责任公司</td>
      <td>23177</td>
      <td>['节日礼物', '带薪年假', '岗位晋升', '扁平管理']</td>
      <td>点融网</td>
      <td>500-2000人</td>
      <td>['五里桥', '打浦桥', '制造局路']</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>本科</td>
      <td>金融</td>
      <td>2427555</td>
      <td>机会挑战,技术牛,团队年轻,工作环境好</td>
      <td>数据研发工程师-CR2017-SH2913</td>
      <td>['数据']</td>
      <td>10k-15k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>17</th>
      <td>上海</td>
      <td>杭州数云信息技术有限公司上海分公司</td>
      <td>7502</td>
      <td>['绩效奖金', '股票期权', '五险一金', '通讯津贴']</td>
      <td>数云</td>
      <td>150-500人</td>
      <td>NaN</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>硕士</td>
      <td>企业服务,数据服务</td>
      <td>2414480</td>
      <td>大牛团队，奶妈助攻，六险一金，不要不来</td>
      <td>大数据工程师【校招】</td>
      <td>['大数据', '数据']</td>
      <td>10k-15k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>18</th>
      <td>上海</td>
      <td>上海好体信息科技有限公司</td>
      <td>2002</td>
      <td>['年底双薪', '股票期权', '扁平管理', '领导好']</td>
      <td>足球魔方</td>
      <td>150-500人</td>
      <td>['龙华', '植物园', '上海南站']</td>
      <td>运营</td>
      <td>运营</td>
      <td>本科</td>
      <td>移动互联网,电子商务</td>
      <td>2320870</td>
      <td>足球氛围,福利多,空间大,免费午餐</td>
      <td>足球分析师</td>
      <td>['分析师', '内容']</td>
      <td>6k-8k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>19</th>
      <td>上海</td>
      <td>上海君同德翔管理咨询有限公司</td>
      <td>149677</td>
      <td>NaN</td>
      <td>Juntong Capital</td>
      <td>少于15人</td>
      <td>['淮海路']</td>
      <td>金融</td>
      <td>天使投资/VC/PE</td>
      <td>本科</td>
      <td>金融</td>
      <td>2411279</td>
      <td>资深团队；交通便利；考虑留用</td>
      <td>分析师</td>
      <td>['分析师']</td>
      <td>2k-3k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>20</th>
      <td>上海</td>
      <td>上海清源绿网科技有限公司</td>
      <td>57577</td>
      <td>['节日礼物', '带薪年假', '绩效奖金', '扁平管理']</td>
      <td>清源大数据</td>
      <td>15-50人</td>
      <td>['张江']</td>
      <td>金融类</td>
      <td>金融类-天使投资/VC/PE</td>
      <td>本科</td>
      <td>数据服务</td>
      <td>2527100</td>
      <td>互联网VC,活力团队,资深创投人</td>
      <td>分析师</td>
      <td>['分析师']</td>
      <td>3k-4k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>21</th>
      <td>上海</td>
      <td>上海融之家金融信息服务有限公司</td>
      <td>93141</td>
      <td>['年底双薪', '股票期权', '带薪年假', '绩效奖金']</td>
      <td>融之家</td>
      <td>500-2000人</td>
      <td>NaN</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>本科</td>
      <td>移动互联网,金融</td>
      <td>2561181</td>
      <td>丰厚年终将</td>
      <td>数据工程师</td>
      <td>['数据']</td>
      <td>10k-18k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>22</th>
      <td>上海</td>
      <td>上海远目投资管理有限公司</td>
      <td>143807</td>
      <td>NaN</td>
      <td>大观资本</td>
      <td>少于15人</td>
      <td>NaN</td>
      <td>金融</td>
      <td>天使投资/VC/PE</td>
      <td>硕士</td>
      <td>金融</td>
      <td>2501433</td>
      <td>按日计酬,氛围轻松</td>
      <td>分析师（实习生）</td>
      <td>['分析师']</td>
      <td>3k-6k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>23</th>
      <td>上海</td>
      <td>北京数字新思科技有限公司</td>
      <td>73539</td>
      <td>['年底双薪', '带薪年假', '年度旅游', '领导好']</td>
      <td>数字新思</td>
      <td>15-50人</td>
      <td>['田林', '徐家汇']</td>
      <td>市场与销售</td>
      <td>数据分析</td>
      <td>本科</td>
      <td>数据服务</td>
      <td>2517307</td>
      <td>五险一金、带薪年假、员工旅游、弹性工作日</td>
      <td>商业数据分析</td>
      <td>['商业', '数据分析', '数据', 'BI']</td>
      <td>6k-8k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>24</th>
      <td>上海</td>
      <td>上海甫田贸易有限公司</td>
      <td>146592</td>
      <td>['带薪年假', '技能培训', '管理规范', '帅哥多']</td>
      <td>甫田网Fields</td>
      <td>150-500人</td>
      <td>['龙华']</td>
      <td>市场与销售</td>
      <td>供应链</td>
      <td>本科</td>
      <td>电子商务</td>
      <td>2388082</td>
      <td>晋升机会,专业培训,美味三餐,美女老板</td>
      <td>数据分析专员</td>
      <td>['数据分析', '仓储', '数据']</td>
      <td>4k-6k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>25</th>
      <td>上海</td>
      <td>伽蓝（集团）股份有限公司</td>
      <td>7069</td>
      <td>['绩效奖金', '年底双薪', '五险一金', '通讯津贴']</td>
      <td>伽蓝</td>
      <td>2000人以上</td>
      <td>NaN</td>
      <td>产品/需求/项目类</td>
      <td>数据分析</td>
      <td>本科</td>
      <td>电子商务</td>
      <td>2531473</td>
      <td>专业团队,薪酬福利优,免费化妆品,工作氛围好</td>
      <td>商业数据分析</td>
      <td>['商业', '数据分析', '数据', 'BI']</td>
      <td>4k-6k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>26</th>
      <td>上海</td>
      <td>路通世纪(中国)科技有限公司</td>
      <td>25499</td>
      <td>['五险一金', '免费班车', '绩效奖金', '年底双薪']</td>
      <td>汤森路透</td>
      <td>2000人以上</td>
      <td>['东外滩', '陆家嘴', '外滩']</td>
      <td>市场与销售</td>
      <td>数据分析</td>
      <td>本科</td>
      <td>数据服务</td>
      <td>2168175</td>
      <td>新兴产业,跨国平台,团队氛围,薪资</td>
      <td>品牌保护分析师实习生</td>
      <td>['商业', '分析师', '品牌']</td>
      <td>2k-3k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>27</th>
      <td>上海</td>
      <td>中国四达国际经济技术合作有限公司上海分公司</td>
      <td>47063</td>
      <td>['技能培训', '带薪年假', '绩效奖金', '岗位晋升']</td>
      <td>中国四达</td>
      <td>50-150人</td>
      <td>['淮海路', '人民广场', '老西门']</td>
      <td>职能</td>
      <td>人力资源</td>
      <td>大专</td>
      <td>招聘</td>
      <td>2463114</td>
      <td>福利待遇佳</td>
      <td>数据合同管理助理（本部）</td>
      <td>['数据']</td>
      <td>4k-5k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>28</th>
      <td>上海</td>
      <td>银联数据服务有限公司</td>
      <td>113080</td>
      <td>NaN</td>
      <td>银联数据</td>
      <td>500-2000人</td>
      <td>['唐镇']</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>本科</td>
      <td>金融,数据服务</td>
      <td>2428072</td>
      <td>银联下属,金融互联网,技术开发,待遇佳</td>
      <td>银联数据2017年校园招聘信息</td>
      <td>['招聘', '高校', 'C', '数据']</td>
      <td>10k-20k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>29</th>
      <td>上海</td>
      <td>上海点荣金融信息服务有限责任公司</td>
      <td>23177</td>
      <td>['节日礼物', '带薪年假', '岗位晋升', '扁平管理']</td>
      <td>点融网</td>
      <td>500-2000人</td>
      <td>['五里桥', '打浦桥', '制造局路']</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>本科</td>
      <td>金融</td>
      <td>2427495</td>
      <td>机会挑战,团队技术牛,团队年轻,工作环境好</td>
      <td>数据系统工程师-CR2017-SH2907</td>
      <td>['数据', '系统']</td>
      <td>10k-15k</td>
      <td>应届毕业生</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>6847</th>
      <td>北京</td>
      <td>新华网亿连（北京）科技有限责任公司</td>
      <td>153850</td>
      <td>NaN</td>
      <td>新华网亿连（北京）科技有限责任公司</td>
      <td>15-50人</td>
      <td>['长椿街']</td>
      <td>产品</td>
      <td>产品经理/产品设计师</td>
      <td>本科</td>
      <td>数据服务,其他</td>
      <td>2542305</td>
      <td>上市公司背景、独立运营团队、提升空间大</td>
      <td>数据产品经理</td>
      <td>['产品经理', '产品', '数据']</td>
      <td>7k-12k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6848</th>
      <td>北京</td>
      <td>CBC(北京)信用管理有限公司</td>
      <td>64755</td>
      <td>['技能培训', '节日礼物', '专项奖金', '带薪年假']</td>
      <td>CBC</td>
      <td>500-2000人</td>
      <td>NaN</td>
      <td>运营</td>
      <td>客服</td>
      <td>大专</td>
      <td>其他</td>
      <td>2336832</td>
      <td>帅哥美女团队人好心善有才华</td>
      <td>数据客服专员（双休五险一金）</td>
      <td>['客服', '数据']</td>
      <td>4k-6k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6849</th>
      <td>北京</td>
      <td>德通汇富（北京）资本管理有限公司</td>
      <td>125706</td>
      <td>['带薪年假', '弹性工作', '领导好', '管理规范']</td>
      <td>德通汇富</td>
      <td>50-150人</td>
      <td>['朝外', '朝阳门', '东大桥']</td>
      <td>金融</td>
      <td>投融资</td>
      <td>大专</td>
      <td>金融,O2O</td>
      <td>2455223</td>
      <td>弹性工作 朝九晚六 周末双休 员工福利</td>
      <td>金融分析师/操盘手/交易员</td>
      <td>['分析师', '金融']</td>
      <td>8k-10k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6850</th>
      <td>北京</td>
      <td>中数通信息有限公司</td>
      <td>23448</td>
      <td>['五险一金', '节日礼物', '岗位晋升', '带薪年假']</td>
      <td>中数通</td>
      <td>500-2000人</td>
      <td>NaN</td>
      <td>设计</td>
      <td>用户研究</td>
      <td>大专</td>
      <td>移动互联网</td>
      <td>2551222</td>
      <td>五险一金 庆生礼物 带薪年假 高温话费补贴</td>
      <td>数据分析专员</td>
      <td>['数据分析', '数据']</td>
      <td>4k-6k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6851</th>
      <td>北京</td>
      <td>北京华电天益信息科技有限公司</td>
      <td>71471</td>
      <td>['技能培训', '绩效奖金', '领导好', '交通补助']</td>
      <td>北京华电天益信息科技有限公司</td>
      <td>50-150人</td>
      <td>['回龙观', '龙泽']</td>
      <td>技术</td>
      <td>数据开发</td>
      <td>本科</td>
      <td>信息安全</td>
      <td>2436339</td>
      <td>依托学校,五险一金,假期多,氛围轻松</td>
      <td>大数据研发</td>
      <td>['大数据', '数据挖掘', '数据']</td>
      <td>8k-10k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6852</th>
      <td>北京</td>
      <td>北京天会创业投资有限公司</td>
      <td>103414</td>
      <td>['带薪年假', '领导好', '帅哥多', '交通补助']</td>
      <td>天会创投</td>
      <td>15-50人</td>
      <td>['魏公村', '中关村', '皂君庙']</td>
      <td>市场与销售</td>
      <td>数据分析</td>
      <td>本科</td>
      <td>移动互联网,金融</td>
      <td>2442908</td>
      <td>五险一金、弹性工作</td>
      <td>数据分析专员</td>
      <td>['商业', '数据分析', '数据']</td>
      <td>4k-6k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6853</th>
      <td>北京</td>
      <td>数临天下医信科技（北京）有限公司</td>
      <td>149114</td>
      <td>NaN</td>
      <td>数临天下</td>
      <td>15-50人</td>
      <td>['望京']</td>
      <td>市场与销售</td>
      <td>数据分析</td>
      <td>硕士</td>
      <td>企业服务,医疗健康</td>
      <td>2402638</td>
      <td>晋升空间,五险一金,带薪年假,弹性工作</td>
      <td>商业数据分析</td>
      <td>['商业', '数据分析', '数据', 'BI']</td>
      <td>4k-8k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6854</th>
      <td>北京</td>
      <td>中金金融认证中心有限公司</td>
      <td>31317</td>
      <td>['年底双薪', '绩效奖金', '管理规范', '定期体检']</td>
      <td>中国金融认证中心</td>
      <td>500-2000人</td>
      <td>['菜市口', '陶然亭', '白纸坊']</td>
      <td>技术</td>
      <td>高端技术职位</td>
      <td>本科</td>
      <td>金融,数据服务</td>
      <td>1867911</td>
      <td>银行大数据风控分析，海量交易数据实操</td>
      <td>大数据开发工程师</td>
      <td>['大数据', '数据库', '数据']</td>
      <td>15k-30k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6855</th>
      <td>北京</td>
      <td>格图（北京）科技有限公司</td>
      <td>33479</td>
      <td>['股票期权', '年度旅游', '扁平管理', '领导好']</td>
      <td>格图</td>
      <td>少于15人</td>
      <td>['亮马桥', '三元桥', '左家庄']</td>
      <td>技术</td>
      <td>后端开发</td>
      <td>硕士</td>
      <td>移动互联网,数据服务</td>
      <td>1043707</td>
      <td>大量纯洁的数据，等你用算法挑逗</td>
      <td>大数据算法实习生</td>
      <td>['大数据', '数据', '算法']</td>
      <td>4k-6k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6856</th>
      <td>北京</td>
      <td>光明网传媒有限公司</td>
      <td>30596</td>
      <td>['年底双薪', '节日礼物', '技能培训', '绩效奖金']</td>
      <td>光明网</td>
      <td>150-500人</td>
      <td>['珠市口', '磁器口', '新世界', '珠市口', '磁器口']</td>
      <td>运营</td>
      <td>编辑</td>
      <td>本科</td>
      <td>电子商务,文化娱乐</td>
      <td>1693200</td>
      <td>中央媒体、专车接送、五险一金、补充医疗</td>
      <td>互联网分析师</td>
      <td>['分析师']</td>
      <td>4k-8k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6857</th>
      <td>北京</td>
      <td>大公信用统计有限公司</td>
      <td>83189</td>
      <td>['技能培训', '带薪年假', '五险一金', '帅哥多']</td>
      <td>大公征信</td>
      <td>500-2000人</td>
      <td>['亮马桥', '三元桥', '燕莎']</td>
      <td>金融</td>
      <td>天使投资/VC/PE</td>
      <td>硕士</td>
      <td>金融,数据服务</td>
      <td>2051982</td>
      <td>发展前景 技术培训 晋升通道</td>
      <td>评级分析师</td>
      <td>['分析师']</td>
      <td>6k-10k</td>
      <td>不限</td>
    </tr>
    <tr>
      <th>6858</th>
      <td>北京</td>
      <td>北京瑞商源科技有限责任公司</td>
      <td>48605</td>
      <td>['带薪年假', '绩效奖金', '岗位晋升', '年度旅游']</td>
      <td>瑞商网</td>
      <td>15-50人</td>
      <td>['上地', '西二旗', '马连洼']</td>
      <td>设计</td>
      <td>数据分析</td>
      <td>本科</td>
      <td>移动互联网,数据服务</td>
      <td>427065</td>
      <td>技术含量高，发展前景好</td>

In [11]:
import tushare as ts

In [12]:
stock_data = ts.get_hist_data('600848')

In [13]:
stock_data

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>close</th>
      <th>low</th>
      <th>volume</th>
      <th>price_change</th>
      <th>p_change</th>
      <th>ma5</th>
      <th>ma10</th>
      <th>ma20</th>
      <th>v_ma5</th>
      <th>v_ma10</th>
      <th>v_ma20</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-05-10</th>
      <td>18.63</td>
      <td>18.80</td>
      <td>18.32</td>
      <td>18.27</td>
      <td>19551.74</td>
      <td>-0.40</td>
      <td>-2.14</td>
      <td>18.662</td>
      <td>18.903</td>
      <td>19.584</td>
      <td>21505.61</td>
      <td>26642.36</td>
      <td>50120.73</td>
    </tr>
    <tr>
      <th>2017-05-09</th>
      <td>18.53</td>
      <td>18.83</td>
      <td>18.72</td>
      <td>18.48</td>
      <td>15432.39</td>
      <td>0.20</td>
      <td>1.08</td>
      <td>18.868</td>
      <td>18.946</td>
      <td>19.701</td>
      <td>24145.61</td>
      <td>26891.07</td>
      <td>53536.97</td>
    </tr>
    <tr>
      <th>2017-05-08</th>
      <td>18.58</td>
      <td>18.85</td>
      <td>18.52</td>
      <td>18.45</td>
      <td>19794.03</td>
      <td>-0.12</td>
      <td>-0.64</td>
      <td>19.000</td>
      <td>18.946</td>
      <td>19.801</td>
      <td>26133.05</td>
      <td>29348.90</td>
      <td>60903.79</td>
    </tr>
    <tr>
      <th>2017-05-05</th>
      <td>19.10</td>
      <td>19.24</td>
      <td>18.64</td>
      <td>18.50</td>
      <td>34650.32</td>
      <td>-0.47</td>
      <td>-2.46</td>
      <td>19.186</td>
      <td>19.057</td>
      <td>19.971</td>
      <td>29887.30</td>
      <td>30100.48</td>
      <td>68311.21</td>
    </tr>
    <tr>
      <th>2017-05-04</th>
      <td>19.31</td>
      <td>19.35</td>
      <td>19.11</td>
      <td>19.01</td>
      <td>18099.59</td>
      <td>-0.24</td>
      <td>-1.24</td>
      <td>19.206</td>
      <td>19.143</td>
      <td>20.079</td>
      <td>30687.02</td>
      <td>34436.07</td>
      <td>69848.27</td>
    </tr>
    <tr>
      <th>2017-05-03</th>
      <td>19.28</td>
      <td>19.65</td>
      <td>19.35</td>
      <td>19.11</td>
      <td>32751.71</td>
      <td>-0.03</td>
      <td>-0.15</td>
      <td>19.144</td>
      <td>19.255</td>
      <td>20.173</td>
      <td>31779.10</td>
      <td>43249.10</td>
      <td>74563.57</td>
    </tr>
    <tr>
      <th>2017-05-02</th>
      <td>19.20</td>
      <td>19.76</td>
      <td>19.38</td>
      <td>19.10</td>
      <td>25369.62</td>
      <td>-0.07</td>
      <td>-0.36</td>
      <td>19.024</td>
      <td>19.467</td>
      <td>20.190</td>
      <td>29636.53</td>
      <td>51135.56</td>
      <td>74148.77</td>
    </tr>
    <tr>
      <th>2017-04-28</th>
      <td>18.87</td>
      <td>19.50</td>
      <td>19.45</td>
      <td>18.75</td>
      <td>38565.28</td>
      <td>0.71</td>
      <td>3.79</td>
      <td>18.892</td>
      <td>19.613</td>
      <td>20.216</td>
      <td>32564.74</td>
      <td>54147.93</td>
      <td>75239.66</td>
    </tr>
    <tr>
      <th>2017-04-27</th>
      <td>18.90</td>
      <td>18.92</td>
      <td>18.74</td>
      <td>18.26</td>
      <td>38648.90</td>
      <td>-0.06</td>
      <td>-0.32</td>
      <td>18.928</td>
      <td>19.734</td>
      <td>20.227</td>
      <td>30313.66</td>
      <td>57801.68</td>
      <td>74410.77</td>
    </tr>
    <tr>
      <th>2017-04-26</th>
      <td>18.85</td>
      <td>19.00</td>
      <td>18.80</td>
      <td>18.55</td>
      <td>23559.97</td>
      <td>0.05</td>
      <td>0.27</td>
      <td>19.080</td>
      <td>20.003</td>
      <td>20.275</td>
      <td>38185.12</td>
      <td>61679.75</td>
      <td>73416.70</td>
    </tr>
    <tr>
      <th>2017-04-25</th>
      <td>18.88</td>
      <td>19.05</td>
      <td>18.75</td>
      <td>18.70</td>
      <td>22038.90</td>
      <td>0.03</td>
      <td>0.16</td>
      <td>19.366</td>
      <td>20.264</td>
      <td>20.323</td>
      <td>54719.11</td>
      <td>73599.10</td>
      <td>74169.97</td>
    </tr>
    <tr>
      <th>2017-04-24</th>
      <td>19.58</td>
      <td>19.58</td>
      <td>18.72</td>
      <td>18.70</td>
      <td>40010.66</td>
      <td>-0.91</td>
      <td>-4.64</td>
      <td>19.910</td>
      <td>20.455</td>
      <td>20.384</td>
      <td>72634.60</td>
      <td>80182.86</td>
      <td>75464.71</td>
    </tr>
    <tr>
      <th>2017-04-21</th>
      <td>19.49</td>
      <td>19.74</td>
      <td>19.63</td>
      <td>19.38</td>
      <td>27309.89</td>
      <td>0.13</td>
      <td>0.67</td>
      <td>20.334</td>
      <td>20.656</td>
      <td>20.423</td>
      <td>75731.12</td>
      <td>92458.68</td>
      <td>76179.26</td>
    </tr>
    <tr>
      <th>2017-04-20</th>
      <td>20.07</td>
      <td>20.16</td>
      <td>19.50</td>
      <td>19.21</td>
      <td>78006.18</td>
      <td>-0.73</td>
      <td>-3.61</td>
      <td>20.540</td>
      <td>20.884</td>
      <td>20.436</td>
      <td>85289.69</td>
      <td>106521.93</td>
      <td>76621.60</td>
    </tr>
    <tr>
      <th>2017-04-19</th>
      <td>21.30</td>
      <td>21.53</td>
      <td>20.23</td>
      <td>20.00</td>
      <td>106229.90</td>
      <td>-1.24</td>
      <td>-5.78</td>
      <td>20.926</td>
      <td>21.015</td>
      <td>20.478</td>
      <td>85174.38</td>
      <td>105260.47</td>
      <td>74207.09</td>
    </tr>
    <tr>
      <th>2017-04-18</th>
      <td>20.61</td>
      <td>21.78</td>
      <td>21.47</td>
      <td>20.52</td>
      <td>111616.35</td>
      <td>0.63</td>
      <td>3.02</td>
      <td>21.162</td>
      <td>21.091</td>
      <td>20.490</td>
      <td>92479.10</td>
      <td>105878.03</td>
      <td>70155.90</td>
    </tr>
    <tr>
      <th>2017-04-17</th>
      <td>20.67</td>
      <td>21.54</td>
      <td>20.84</td>
      <td>20.43</td>
      <td>55493.28</td>
      <td>0.18</td>
      <td>0.87</td>
      <td>21.000</td>
      <td>20.912</td>
      <td>20.438</td>
      <td>87731.13</td>
      <td>97161.98</td>
      <td>66386.62</td>
    </tr>
    <tr>
      <th>2017-04-14</th>
      <td>21.21</td>
      <td>21.42</td>
      <td>20.66</td>
      <td>20.51</td>
      <td>75102.73</td>
      <td>-0.77</td>
      <td>-3.59</td>
      <td>20.978</td>
      <td>20.819</td>
      <td>20.424</td>
      <td>109186.24</td>
      <td>96331.39</td>
      <td>65465.99</td>
    </tr>
    <tr>
      <th>2017-04-13</th>
      <td>21.30</td>
      <td>21.80</td>
      <td>21.43</td>
      <td>21.02</td>
      <td>77429.64</td>
      <td>0.02</td>
      <td>0.09</td>
      <td>21.228</td>
      <td>20.720</td>
      <td>20.420</td>
      <td>127754.18</td>
      <td>91019.87</td>
      <td>62905.07</td>
    </tr>
    <tr>
      <th>2017-04-12</th>
      <td>20.26</td>
      <td>22.66</td>
      <td>21.41</td>
      <td>20.26</td>
      <td>142753.48</td>
      <td>0.75</td>
      <td>3.63</td>
      <td>21.104</td>
      <td>20.547</td>
      <td>20.393</td>
      <td>125346.56</td>
      <td>85153.65</td>
      <td>61126.92</td>
    </tr>
    <tr>
      <th>2017-04-11</th>
      <td>20.36</td>
      <td>20.86</td>
      <td>20.66</td>
      <td>20.03</td>
      <td>87876.53</td>
      <td>-0.07</td>
      <td>-0.34</td>
      <td>21.020</td>
      <td>20.382</td>
      <td>20.362</td>
      <td>119276.96</td>
      <td>74740.85</td>
      <td>57773.72</td>
    </tr>
    <tr>
      <th>2017-04-10</th>
      <td>21.30</td>
      <td>21.40</td>
      <td>20.73</td>
      <td>19.72</td>
      <td>162768.84</td>
      <td>-1.18</td>
      <td>-5.39</td>
      <td>20.824</td>
      <td>20.312</td>
      <td>20.384</td>
      <td>106592.83</td>
      <td>70746.56</td>
      <td>55004.98</td>
    </tr>
    <tr>
      <th>2017-04-07</th>
      <td>20.81</td>
      <td>22.36</td>
      <td>21.91</td>
      <td>20.81</td>
      <td>167942.41</td>
      <td>1.10</td>
      <td>5.29</td>
      <td>20.660</td>
      <td>20.189</td>
      <td>20.394</td>
      <td>83476.54</td>
      <td>59899.84</td>
      <td>48080.14</td>
    </tr>
    <tr>
      <th>2017-04-06</th>
      <td>21.00</td>
      <td>21.26</td>
      <td>20.81</td>
      <td>20.65</td>
      <td>65391.54</td>
      <td>-0.18</td>
      <td>-0.86</td>
      <td>20.212</td>
      <td>19.987</td>
      <td>20.354</td>
      <td>54285.56</td>
      <td>46721.27</td>
      <td>41696.39</td>
    </tr>
    <tr>
      <th>2017-04-05</th>
      <td>19.73</td>
      <td>21.58</td>
      <td>20.99</td>
      <td>19.73</td>
      <td>112405.49</td>
      <td>1.31</td>
      <td>6.66</td>
      <td>19.990</td>
      <td>19.940</td>
      <td>20.384</td>
      <td>44960.74</td>
      <td>43153.71</td>
      <td>41229.95</td>
    </tr>
    <tr>
      <th>2017-03-31</th>
      <td>19.90</td>
      <td>19.96</td>
      <td>19.68</td>
      <td>19.61</td>
      <td>24455.88</td>
      <td>-0.23</td>
      <td>-1.16</td>
      <td>19.744</td>
      <td>19.889</td>
      <td>20.433</td>
      <td>30204.73</td>
      <td>34433.77</td>
      <td>37545.60</td>
    </tr>
    <tr>
      <th>2017-03-30</th>
      <td>19.68</td>
      <td>20.17</td>
      <td>19.91</td>
      <td>19.63</td>
      <td>47187.37</td>
      <td>0.24</td>
      <td>1.22</td>
      <td>19.800</td>
      <td>19.963</td>
      <td>20.546</td>
      <td>34900.28</td>
      <td>35611.26</td>
      <td>38420.16</td>
    </tr>
    <tr>
      <th>2017-03-29</th>
      <td>19.80</td>
      <td>19.94</td>
      <td>19.67</td>
      <td>19.56</td>
      <td>21987.51</td>
      <td>-0.03</td>
      <td>-0.15</td>
      <td>19.718</td>
      <td>20.029</td>
      <td>20.640</td>
      <td>36323.14</td>
      <td>34600.59</td>
      <td>37756.29</td>
    </tr>
    <tr>
      <th>2017-03-28</th>
      <td>19.78</td>
      <td>19.84</td>
      <td>19.70</td>
      <td>19.54</td>
      <td>18767.43</td>
      <td>-0.06</td>
      <td>-0.30</td>
      <td>19.762</td>
      <td>20.120</td>
      <td>20.761</td>
      <td>39156.98</td>
      <td>34790.27</td>
      <td>40967.30</td>
    </tr>
    <tr>
      <th>2017-03-27</th>
      <td>19.91</td>
      <td>20.27</td>
      <td>19.76</td>
      <td>19.64</td>
      <td>38625.45</td>
      <td>-0.20</td>
      <td>-1.00</td>
      <td>19.890</td>
      <td>20.239</td>
      <td>20.857</td>
      <td>41346.67</td>
      <td>37100.19</td>
      <td>41329.02</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2015-01-20</th>
      <td>10.97</td>
      <td>11.13</td>
      <td>11.10</td>
      <td>10.90</td>
      <td>26312.86</td>
      <td>0.31</td>
      <td>2.87</td>
      <td>11.032</td>
      <td>11.190</td>
      <td>11.173</td>
      <td>28775.14</td>
      <td>38070.45</td>
      <td>50735.75</td>
    </tr>
    <tr>
      <th>2015-01-19</th>
      <td>11.02</td>
      <td>11.28</td>
      <td>10.79</td>
      <td>10.55</td>
      <td>36689.00</td>
      <td>-0.55</td>
      <td>-4.85</td>
      <td>11.014</td>
      <td>11.241</td>
      <td>11.227</td>
      <td>27454.97</td>
      <td>41359.16</td>
      <td>54894.51</td>
    </tr>
    <tr>
      <th>2015-01-16</th>
      <td>11.09</td>
      <td>11.49</td>
      <td>11.34</td>
      <td>11.08</td>
      <td>43088.08</td>
      <td>0.38</td>
      <td>3.47</td>
      <td>11.038</td>
      <td>11.288</td>
      <td>11.323</td>
      <td>25864.80</td>
      <td>42328.62</td>
      <td>62072.27</td>
    </tr>
    <tr>
      <th>2015-01-15</th>
      <td>10.87</td>
      <td>11.01</td>
      <td>10.96</td>
      <td>10.80</td>
      <td>18112.66</td>
      <td>-0.01</td>
      <td>-0.09</td>
      <td>11.016</td>
      <td>11.266</td>
      <td>11.428</td>
      <td>26217.50</td>
      <td>41743.24</td>
      <td>71608.44</td>
    </tr>
    <tr>
      <th>2015-01-14</th>
      <td>11.00</td>
      <td>11.13</td>
      <td>10.97</td>
      <td>10.89</td>
      <td>19673.11</td>
      <td>-0.04</td>
      <td>-0.36</td>
      <td>11.158</td>
      <td>11.262</td>
      <td>11.514</td>
      <td>33964.11</td>
      <td>44506.92</td>
      <td>79254.91</td>
    </tr>
    <tr>
      <th>2015-01-13</th>
      <td>10.93</td>
      <td>11.03</td>
      <td>11.01</td>
      <td>10.89</td>
      <td>19711.99</td>
      <td>0.10</td>
      <td>0.92</td>
      <td>11.348</td>
      <td>11.265</td>
      <td>11.585</td>
      <td>47365.76</td>
      <td>51110.07</td>
      <td>87249.09</td>
    </tr>
    <tr>
      <th>2015-01-12</th>
      <td>11.08</td>
      <td>11.18</td>
      <td>10.91</td>
      <td>10.81</td>
      <td>28738.16</td>
      <td>-0.32</td>
      <td>-2.85</td>
      <td>11.468</td>
      <td>11.312</td>
      <td>11.648</td>
      <td>55263.35</td>
      <td>56956.05</td>
      <td>109282.42</td>
    </tr>
    <tr>
      <th>2015-01-09</th>
      <td>11.68</td>
      <td>11.71</td>
      <td>11.23</td>
      <td>11.19</td>
      <td>44851.56</td>
      <td>-0.44</td>
      <td>-3.77</td>
      <td>11.538</td>
      <td>11.363</td>
      <td>11.682</td>
      <td>58792.43</td>
      <td>60665.93</td>
      <td>107924.27</td>
    </tr>
    <tr>
      <th>2015-01-08</th>
      <td>11.70</td>
      <td>11.92</td>
      <td>11.67</td>
      <td>11.64</td>
      <td>56845.71</td>
      <td>-0.25</td>
      <td>-2.10</td>
      <td>11.516</td>
      <td>11.349</td>
      <td>11.647</td>
      <td>57268.99</td>
      <td>61376.00</td>
      <td>105823.50</td>
    </tr>
    <tr>
      <th>2015-01-07</th>
      <td>11.58</td>
      <td>11.99</td>
      <td>11.92</td>
      <td>11.48</td>
      <td>86681.38</td>
      <td>0.31</td>
      <td>2.67</td>
      <td>11.366</td>
      <td>11.251</td>
      <td>11.543</td>
      <td>55049.74</td>
      <td>61628.07</td>
      <td>103010.58</td>
    </tr>
    <tr>
      <th>2015-01-06</th>
      <td>11.13</td>
      <td>11.66</td>
      <td>11.61</td>
      <td>11.03</td>
      <td>59199.93</td>
      <td>0.35</td>
      <td>3.11</td>
      <td>11.182</td>
      <td>11.155</td>
      <td>11.382</td>
      <td>54854.38</td>
      <td>63401.05</td>
      <td>98686.98</td>
    </tr>
    <tr>
      <th>2015-01-05</th>
      <td>11.16</td>
      <td>11.39</td>
      <td>11.26</td>
      <td>10.89</td>
      <td>46383.57</td>
      <td>0.14</td>
      <td>1.26</td>
      <td>11.156</td>
      <td>11.212</td>
      <td>11.370</td>
      <td>58648.75</td>
      <td>68429.87</td>
      <td>100765.24</td>
    </tr>
    <tr>
      <th>2014-12-31</th>
      <td>10.93</td>
      <td>11.26</td>
      <td>11.12</td>
      <td>10.93</td>
      <td>37234.34</td>
      <td>0.20</td>
      <td>1.83</td>
      <td>11.188</td>
      <td>11.358</td>
      <td>11.376</td>
      <td>62539.43</td>
      <td>81815.93</td>
      <td>103786.45</td>
    </tr>
    <tr>
      <th>2014-12-30</th>
      <td>11.04</td>
      <td>11.13</td>
      <td>10.92</td>
      <td>10.70</td>
      <td>45749.46</td>
      <td>-0.08</td>
      <td>-0.73</td>
      <td>11.182</td>
      <td>11.589</td>
      <td>11.391</td>
      <td>65483.02</td>
      <td>101473.63</td>
      <td>107701.28</td>
    </tr>
    <tr>
      <th>2014-12-29</th>
      <td>11.48</td>
      <td>11.58</td>
      <td>11.00</td>
      <td>10.96</td>
      <td>85704.61</td>
      <td>-0.48</td>
      <td>-4.18</td>
      <td>11.136</td>
      <td>11.765</td>
      <td>11.421</td>
      <td>68206.41</td>
      <td>114002.91</td>
      <td>111573.27</td>
    </tr>
    <tr>
      <th>2014-12-26</th>
      <td>11.40</td>
      <td>11.79</td>
      <td>11.48</td>
      <td>11.28</td>
      <td>78171.76</td>
      <td>0.06</td>
      <td>0.53</td>
      <td>11.128</td>
      <td>11.904</td>
      <td>11.449</td>
      <td>71947.71</td>
      <td>123388.12</td>
      <td>113297.84</td>
    </tr>
    <tr>
      <th>2014-12-25</th>
      <td>11.13</td>
      <td>11.64</td>
      <td>11.42</td>
      <td>10.97</td>
      <td>65836.99</td>
      <td>0.33</td>
      <td>2.98</td>
      <td>11.268</td>
      <td>11.983</td>
      <td>11.446</td>
      <td>78210.99</td>
      <td>161608.79</td>
      <td>115806.85</td>
    </tr>
    <tr>
      <th>2014-12-24</th>
      <td>10.99</td>
      <td>11.19</td>
      <td>11.09</td>
      <td>10.86</td>
      <td>51952.29</td>
      <td>0.40</td>
      <td>3.74</td>
      <td>11.528</td>
      <td>12.000</td>
      <td>11.448</td>
      <td>101092.43</td>
      <td>155182.60</td>
      <td>119650.69</td>
    </tr>
    <tr>
      <th>2014-12-23</th>
      <td>10.80</td>
      <td>11.40</td>
      <td>10.69</td>
      <td>10.66</td>
      <td>59366.41</td>
      <td>-0.27</td>
      <td>-2.46</td>
      <td>11.996</td>
      <td>11.945</td>
      <td>11.478</td>
      <td>137464.25</td>
      <td>150270.99</td>
      <td>125292.22</td>
    </tr>
    <tr>
      <th>2014-12-22</th>
      <td>12.18</td>
      <td>12.25</td>
      <td>10.96</td>
      <td>10.96</td>
      <td>104411.12</td>
      <td>-1.22</td>
      <td>-10.02</td>
      <td>12.394</td>
      <td>11.834</td>
      <td>11.550</td>
      <td>159799.40</td>
      <td>144393.09</td>
      <td>131285.47</td>
    </tr>
    <tr>
      <th>2014-12-19</th>
      <td>12.59</td>
      <td>12.72</td>
      <td>12.18</td>
      <td>12.02</td>
      <td>109488.12</td>
      <td>-0.54</td>
      <td>-4.25</td>
      <td>12.680</td>
      <td>11.609</td>
      <td>11.609</td>
      <td>174828.52</td>
      <td>133972.91</td>
      <td>133972.91</td>
    </tr>
    <tr>
      <th>2014-12-18</th>
      <td>12.98</td>
      <td>13.28</td>
      <td>12.72</td>
      <td>12.60</td>
      <td>180244.20</td>
      <td>-0.71</td>
      <td>-5.29</td>
      <td>12.698</td>
      <td>11.546</td>
      <td>11.546</td>
      <td>245006.60</td>
      <td>136693.44</td>
      <td>136693.44</td>
    </tr>
    <tr>
      <th>2014-12-17</th>
      <td>12.64</td>
      <td>13.60</td>
      <td>13.43</td>
      <td>12.32</td>
      <td>233811.38</td>
      <td>0.75</td>
      <td>5.92</td>
      <td>12.472</td>
      <td>11.399</td>
      <td>11.399</td>
      <td>209272.78</td>
      <td>131249.60</td>
      <td>131249.60</td>
    </tr>
    <tr>
      <th>2014-12-16</th>
      <td>12.22</td>
      <td>12.88</td>
      <td>12.68</td>
      <td>12.22</td>
      <td>171042.19</td>
      <td>0.29</td>
      <td>2.34</td>
      <td>11.894</td>
      <td>11.109</td>
      <td>11.109</td>
      <td>163077.74</td>
      <td>116597.91</td>
      <td>116597.91</td>
    </tr>
    <tr>
      <th>2014-12-15</th>
      <td>12.61</td>
      <td>12.90</td>
      <td>12.39</td>
      <td>12.13</td>
      <td>179556.72</td>
      <td>0.12</td>
      <td>0.98</td>
      <td>11.274</td>
      <td>10.847</td>
      <td>10.847</td>
      <td>128986.78</td>
      <td>107523.87</td>
      <td>107523.87</td>
    </tr>
    <tr>
      <th>2014-12-12</th>
      <td>12.75</td>
      <td>12.75</td>
      <td>12.27</td>
      <td>12.00</td>
      <td>460378.50</td>
      <td>0.68</td>
      <td>5.87</td>
      <td>10.538</td>
      <td>10.538</td>
      <td>10.538</td>
      <td>93117.30</td>
      <td>93117.30</td>
      <td>93117.30</td>
    </tr>
    <tr>
      <th>2014-12-11</th>
      <td>11.59</td>
      <td>11.59</td>
      <td>11.59</td>
      <td>11.59</td>
      <td>1575.09</td>
      <td>1.05</td>
      <td>9.96</td>
      <td>10.105</td>
      <td>10.105</td>
      <td>10.105</td>
      <td>1302.00</td>
      <td>1302.00</td>
      <td>1302.00</td>
    </tr>
    <tr>
      <th>2014-12-10</th>
      <td>10.54</td>

In [14]:
stock_data.to_csv('stock_data.csv') # 写入数据

In [15]:
data_stock = pd.read_csv('stock_data.csv')

In [17]:
stock_date = data_stock['date']

In [18]:
stock_date

0      2017-05-10
1      2017-05-09
2      2017-05-08
3      2017-05-05
4      2017-05-04
5      2017-05-03
6      2017-05-02
7      2017-04-28
8      2017-04-27
9      2017-04-26
10     2017-04-25
11     2017-04-24
12     2017-04-21
13     2017-04-20
14     2017-04-19
15     2017-04-18
16     2017-04-17
17     2017-04-14
18     2017-04-13
19     2017-04-12
20     2017-04-11
21     2017-04-10
22     2017-04-07
23     2017-04-06
24     2017-04-05
25     2017-03-31
26     2017-03-30
27     2017-03-29
28     2017-03-28
29     2017-03-27
          ...
470    2015-01-20
471    2015-01-19
472    2015-01-16
473    2015-01-15
474    2015-01-14
475    2015-01-13
476    2015-01-12
477    2015-01-09
478    2015-01-08
479    2015-01-07
480    2015-01-06
481    2015-01-05
482    2014-12-31
483    2014-12-30
484    2014-12-29
485    2014-12-26
486    2014-12-25
487    2014-12-24
488    2014-12-23
489    2014-12-22
490    2014-12-19
491    2014-12-18
492    2014-12-17
493    2014-12-16
494    2014-12-15
495    2014-12-12
496    2014-12-11
497    2014-12-10
498    2014-12-09
499    2014-12-08
Name: date, dtype: object